[defaults]
host_key_checking = False
inventory = inventory/aws_ec2.yaml
#log_path=/var/log/ansible.cfg
private_key_file=ssh-key/kube-access.pem
interpreter_python=/usr/bin/python3
ansible_user=ubuntu
deprecation_warnings=False

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[inventory]
enable_plugins = amazon.aws.aws_ec2, aws_ec2, yaml, ini

