[defaults]
host_key_checking = False
inventory=inventory/hosts.ini
#log_path=/var/log/ansible.cfg
private_key_file=ssh-key/kube-access.pem
interpreter_python=/usr/bin/python3

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False


